.track_{
    display: flex;
}
.filter-inp{
    height: 90%;
    border-radius: 5px;
    border: none;
    margin-left: 3px;

}

.glass-icon{
    font-size: 20px;

}

.glass-btn{
    border-radius: 2px;
    font-size: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .filter-inp{
      width: 70px;
      height: 13px;
    }
  }

  @media only screen and (max-width: 600px) {
    .glass-btn{
      font-size: 12px;
    }
  }

  @media only screen and (max-width: 600px) {
    .glass-icon{
      font-size: 8px;
    }
  }